<!DOCTYPE html>
<html>
  <head>
    <title>Cabinet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="pull-right">
    <% if current_user %>
      Hi, <%= current_user.email %> |
      <%= link_to('登出', destroy_user_session_path, method: :delete) %>
   <% end %>   
 </ul>
    <%= yield %>
  </body>
</html>
